@font-face {
  font-family: 'Montserrat', sans-serif;
  src: url('./assets/fonts/pdown.ttf');
}

body {
  overflow: hidden;
  width: 100%;
}

#heal {
  position: absolute;

  left: 79.5%;
  bottom: 12.8%;
  width: 16.05%;
  height: 1.7%;
  padding: 0;
  border: 2px solid black;
  float: left;
  background: #707070;
}

#armor {
  position: absolute;

  left: 79.5%;
  bottom: 9.8%;
  width: 16.05%;
  height: 1.7%;
  padding: 0;
  border: 2px solid black;
  float: left;
  background: #707070;
}

#oxygen {
  position: absolute;

  left: 79.5%;
  bottom: 6.8%;
  width: 16.05%;
  height: 1.7%;
  padding: 0;
  border: 2px solid black;
  float: left;
  background: #707070;
}

#boxHeal,
#boxArmor,
#boxOxygen {
  background: rgb(255, 0, 0);
  border-radius: 2px;
  width: auto;
  height: 100%;
  transition: 0.2s ease-in-out;
}

#boxArmor {
  border-radius: 1px;
  background: #1100ffc7;
}

#boxOxygen {
  border-radius: 2px;
  background: #cdcccb;
}

#heart {
  position: absolute;
  width: 23px;
  margin-left: -28px;
  bottom: -3px;
}

#vest {
  position: absolute;
  width: 20px;
  margin-left: -27px;
  bottom: -3px;
}

#stamina {
  position: absolute;
  width: 23px;
  margin-left: -28px;
  bottom: -6px;
}
